@layer reset {
    *, *::before, *::after {
        /* Box-sizing rule */
        box-sizing: border-box;
    }

    body {
        /* Remove default margin */
        margin: 0;

        /* Increase line heights for readability */
        line-height: 1.5;

        /* Improve text rendering */
        -webkit-font-smoothing: antialiased;

        /* Prevent font size inflation */
        -moz-text-size-adjust: none;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }

    /* Improve line-wrapping for paragraphs
    Note: not applicable on Firefox and Safari */
    p {
        text-wrap: pretty;
    }

    /* Make line height for headings shorter */
    h1, h2, h3, h4, h5, h6 {
        line-height: 1.2;
    }

    /* Remove top margin on the first heading on the page */
    main h1:first-child {
        margin-block-start: 0;
    }

    /* Increase top margin for headings that follow paragraphs, lists, tables and `div` elements */
    :is(p, ul, ol, table, div) + :is(h1, h2, h3, h4, h5, h6) {
        margin-block-start: 1.7em;
    }

    /* Remove default style, margin and padding on list and menu elements with a list role */
    :is(ul, ol, menu)[role="list"] {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    /* Default styling for lists */
    ul, ol {
        list-style-position: outside;
        margin-inline-start: 1.2em;
        padding-inline-start: 0;
    }

    /* Increase space between list items */
    :is(ul, ol) li + li {
        padding-block-start: .5em;
    }

    /* Add paddings for table cells */
    th, td {
        padding: .5em;
    }

    /* Improve media defaults */
    img, picture, video, canvas, svg {
        display: block;
        max-width: 100%;
    }

    /* Inherit fonts for form controls */
    input, button, textarea, select {
        font: inherit;
    }
}