:root {
    --text: #444;
    --background: #fff;
    --accent: #51a05c;
    --shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

html, body {
    height: 100%;
}

body {
    color: var(--text);
    background: var(--background);
    display: flex;
    flex-direction: column;
}

main {
    max-width: 900px;
    margin: 5vh auto;
    padding: 1em;
    flex: 1 0 auto;
}

a {
    color: var(--accent);
    text-decoration: underline;
}

a:hover {
    color: var(--text);
}

hr {
    margin-block: 2em;
    border: 0;
    border-block-end: 2px dotted color-mix(in oklch, var(--text) 40%, transparent);
}

h1, .slogan {
    color: var(--accent);
}

/* Navigation bar */
.nav-bar {
    background: var(--background);
    box-shadow: var(--shadow);
    padding: 1em 1.5em;
    font-size: var(--step--1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: .5em;
}

nav a {
    color: var(--text);
    text-decoration: none;
}

nav a:hover {
    color: var(--accent);
}

nav a[aria-current="page"] {
    font-weight: 700;
    color: var(--accent);
    text-decoration: .1em underline;
    text-underline-position: under;
}

nav a[aria-current="page"]:hover {
    color: var(--text);
}

.logo-title {
    display: flex;
    flex-wrap: wrap;
    column-gap: .5em;
    align-items: center;
}

.logo {
    width: 40px;
}

.nav-title {
    font-size: var(--step-0);
    color: var(--accent);
    font-weight: 700;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

header {
    padding: 5em 10em;
    display: flex;
    align-items: center;
}

.hero-banner {
    max-width: 60em;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: auto;
    column-gap: 1em;
    align-items: center;
    & img {
        width: 400px;
    }
}

.hero-text {
    display: grid;
    grid-template-columns: auto;
}

.slogan {
    margin: 0;
}

.content {
    padding: 4em 2em;
}

.callout {
    margin-block: 1.5em;
    padding: 1em;
}

.callout-label {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    align-items: center;
    color: var(--accent);
    margin-block-end: 5px;
}

.callout > .callout-label + p {
    margin-block-start: 0;
}

.callout > p:last-child {
    margin-block-end: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid color-mix(in oklch, var(--accent) 30%, transparent);
}

tr:nth-child(even) {
    background: color-mix(in oklch, var(--accent) 10%, transparent);
}

thead {
    text-align: left;
    background: color-mix(in oklch, var(--accent) 25%, transparent);
}

details, .callout {
    background: color-mix(in oklch, var(--accent) 15%, transparent);
    border-radius: .5em;
    border: 2px solid color-mix(in oklch, var(--accent) 30%, var(--background));
}

details + details {
    margin-block-start: 1em;
}

details summary {
    font-weight: 700;
    padding: .7em 1em;
}

details[open] summary {
    padding-block-end: .7em;
    border-block-end: 2px solid color-mix(in oklch, var(--accent) 30%, var(--background));
}

details[open] p {
    padding: .7em 1em;
    margin: 0;
}

details[open] > :is(ul, ol) {
    margin-inline: 2em 1em;
}

figure:has(img) {
    margin: 0;
    margin-block-start: 30px;
}

.collage {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: .5em;
}

figcaption {
    padding: 1em;
    text-align: center;
    font-size: var(--step--1);
    font-style: italic;
}

footer {
    background-color: color-mix(in oklch, var(--accent) 50%, var(--background));
    font-size: var(--step--1);
    padding: 3em;
    flex-shrink: 0;
}

.footer-description {
    text-align: center;
    margin-block-start: 2em;
}

.footer-info {
    padding-inline: 5em;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1em 6em;
}

footer :is(h1, h2) {
    font-size: var(--step-0);
    color: var(--text);
    font-weight: 800;
}

footer address {
    display: grid;
    grid-template-columns: max-content auto;
    gap: .5em;
    align-items: baseline;
    font-style: normal;
}

footer a {
    color: var(--text);
}

@media (max-width: 900px) {
    header {
        padding: 0;
    }
    main {
        margin: 5vh auto;
    }
    .hero-banner {
        grid-template-columns: 1fr;
        row-gap: 2em;
        padding: 2em;
        align-items: center;
        & img {
            margin: auto;
        }
    }
    .footer-about {
        grid-column: span 3;
    }
}

@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
    .footer-about {
        grid-column: span 1;
    }
    .footer-info {
        grid-template-columns: auto;
        padding: 1em;
    }
    footer {
        padding: 1.5em;
    }
}