{% set pageTitle = title %}
{% set siteTitle = site.title %}
{% set currentUrl = site.url + page.url %}

{% set pageDescription = description %}
{% if not description %}
    {% set pageDescription = site.description %}
{% endif %}

{# Clean up page title #}
{% set pageTitle = pageTitle | safe %}

{% if pageTitle == siteTitle %}
    <title>{{ siteTitle }}</title>
{% else %}
    <title>{{ pageTitle }} - {{ siteTitle }}</title>
{% endif %}

<meta name="description" content="{{ site.description }}" />

<meta property="og:site_name" content="{{ siteTitle }}" />
<meta property="og:title" content="{{ pageTitle }}" />
<meta property="og:description" content="{{ pageDescription }}">
<meta property="og:type" content="website" />
<meta property="og:image" content="/images/og-image.png" />
<meta property="og:url" content="{{ currentUrl }}" />

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/reset.css">
<link rel="stylesheet" type="text/css" href="/css/fonts.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">

<!-- Favicon -->
<link rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
<link rel="shortcut icon" href="/images/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="GoForth Training Services" />
<link rel="manifest" href="/images/site.webmanifest" />

<!-- Preload fonts -->
<link rel="preload" href="/fonts/InstrumentSans.woff2" as="font" type="font/woff2" crossorigin="anonymous">

<!-- Tabler Icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">